*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/back4App.properties
/.idea/misc.xml
/.idea/vcs.xml
/.idea/kotlinc.xml
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/AndroidProjectSystem.xml

/.idea/.name
/.kotlin/errors*
/.kotlin/errors/errors-1763049205335.log
/.kotlin/errors/errors-1763111848409.log
/.kotlin/errors/errors-1763112008611.log
/.kotlin/errors/errors-1763112115723.log
